.chitietlophoc{
  &__section{
    padding-top: 24px;
    padding-bottom: 24px;
  }
  &__card{
    border-radius: 20px;
    padding: 10px;
    &__header{
      border: none !important;
      padding: 10px;
      padding-bottom: 20px;
    }
    &__body{
      background: #F7F7F7;
      border: 2px solid #F2F2F2;
      box-sizing: border-box;
      border-radius: 16px;
    }
    &__title{
      color: #2B2B2C;
      line-height: 1.2;
      @extend .fz-20;
      font-family: $SF-Compact-Rounded-Semibold;
      margin: 0;
    }
    &__unit{
      @extend .fz-16;
      line-height: 1.25;
      font-family: $SF-Compact-Rounded-Medium;
      background: rgba(102, 219, 83, 0.8);
      padding: 0 12px;

      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 26px;
    }
    &__txt{
      color: #686868;
      line-height: 1.25;
      @extend .fz-16;
      font-family: $SF-Compact-Rounded-Semibold;
    }
  }
  &__boxVideo{
    background-color: #f2f2f2;
    border: 1px solid #F4F4F4;
    box-sizing: border-box;
    border-radius: 12px;
    overflow: hidden;
    video{
      border-radius: 12px;
    }
    &__avarta{
      top: 82px;
    }
    &__box{
      background: rgba(247, 247, 247, 0.8);
      border-radius: 10px;
      padding: 8px 12px;
      $x:8px;
      margin: #{$x};
      max-width: calc(100% - (#{$x} * 2));
    }
    &__name{
      color: #4B4B4B;
      line-height: 1.25;
      @extend .fz-16;
      font-family: $SF-Compact-Rounded-Semibold;
    }
    &__signal{
      color: #4B4B4B;
      font-family: $SF-Compact-Rounded-Medium;
      line-height: 1.29;
      @extend .fz-14;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 8.92498C14.8667 8.92498 14.7333 8.88331 14.6167 8.79164C11.8083 6.62497 8.18334 6.62497 5.38333 8.79164C5.10834 8.99997 4.71667 8.94997 4.50834 8.6833C4.30001 8.4083 4.35 8.01663 4.61667 7.8083C7.88334 5.2833 12.1083 5.2833 15.3833 7.8083C15.6583 8.01663 15.7083 8.4083 15.4917 8.6833C15.375 8.84164 15.1833 8.92498 15 8.92498Z' fill='%234CEF13'/%3E%3Cpath d='M13.6666 11.5002C13.5332 11.5002 13.3999 11.4585 13.2832 11.3668C11.2832 9.82516 8.70823 9.82516 6.70823 11.3668C6.43323 11.5752 6.04156 11.5252 5.83323 11.2585C5.6249 10.9835 5.67489 10.5918 5.94156 10.3835C8.39989 8.4835 11.5832 8.4835 14.0416 10.3835C14.3166 10.5918 14.3666 10.9835 14.1499 11.2585C14.0416 11.4168 13.8582 11.5002 13.6666 11.5002Z' fill='%234CEF13'/%3E%3Cpath d='M11.8334 14.0749C11.7001 14.0749 11.5667 14.0332 11.4501 13.9415C10.5667 13.2582 9.42506 13.2582 8.54173 13.9415C8.26673 14.1499 7.87506 14.0999 7.66672 13.8332C7.45839 13.5582 7.50839 13.1665 7.77506 12.9582C9.10006 11.9332 10.8834 11.9332 12.2084 12.9582C12.4834 13.1665 12.5334 13.5582 12.3167 13.8332C12.2084 13.9915 12.0251 14.0749 11.8334 14.0749Z' fill='%234CEF13'/%3E%3Cpath d='M12.5 18.9582H7.50002C2.97502 18.9582 1.04169 17.0248 1.04169 12.4998V7.49984C1.04169 2.97484 2.97502 1.0415 7.50002 1.0415H12.5C17.025 1.0415 18.9584 2.97484 18.9584 7.49984V12.4998C18.9584 17.0248 17.025 18.9582 12.5 18.9582ZM7.50002 2.2915C3.65835 2.2915 2.29169 3.65817 2.29169 7.49984V12.4998C2.29169 16.3415 3.65835 17.7082 7.50002 17.7082H12.5C16.3417 17.7082 17.7084 16.3415 17.7084 12.4998V7.49984C17.7084 3.65817 16.3417 2.2915 12.5 2.2915H7.50002Z' fill='%234CEF13'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center right;
      padding-right: 26px;
      &.error{
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0001 8.92498C14.8667 8.92498 14.7334 8.88331 14.6167 8.79164C11.8084 6.62497 8.1834 6.62497 5.3834 8.79164C5.1084 8.99997 4.71673 8.94997 4.5084 8.6833C4.30007 8.4083 4.35006 8.01663 4.61673 7.8083C7.8834 5.2833 12.1084 5.2833 15.3834 7.8083C15.6584 8.01663 15.7084 8.4083 15.4917 8.6833C15.3751 8.84164 15.1834 8.92498 15.0001 8.92498Z' fill='%23EB5757'/%3E%3Cpath d='M13.6666 11.5002C13.5332 11.5002 13.3999 11.4585 13.2832 11.3668C11.2832 9.82516 8.70823 9.82516 6.70823 11.3668C6.43323 11.5752 6.04156 11.5252 5.83323 11.2585C5.6249 10.9835 5.67489 10.5918 5.94156 10.3835C8.39989 8.4835 11.5832 8.4835 14.0416 10.3835C14.3166 10.5918 14.3666 10.9835 14.1499 11.2585C14.0416 11.4168 13.8582 11.5002 13.6666 11.5002Z' fill='%23EB5757'/%3E%3Cpath d='M11.8334 14.0749C11.7001 14.0749 11.5667 14.0332 11.4501 13.9415C10.5667 13.2582 9.42506 13.2582 8.54173 13.9415C8.26673 14.1499 7.87506 14.0999 7.66672 13.8332C7.45839 13.5582 7.50839 13.1665 7.77506 12.9582C9.10006 11.9332 10.8834 11.9332 12.2084 12.9582C12.4834 13.1665 12.5334 13.5582 12.3167 13.8332C12.2084 13.9915 12.0251 14.0749 11.8334 14.0749Z' fill='%23EB5757'/%3E%3Cpath d='M12.5 18.9582H7.49996C2.97496 18.9582 1.04163 17.0248 1.04163 12.4998V7.49984C1.04163 2.97484 2.97496 1.0415 7.49996 1.0415H12.5C17.025 1.0415 18.9583 2.97484 18.9583 7.49984V12.4998C18.9583 17.0248 17.025 18.9582 12.5 18.9582ZM7.49996 2.2915C3.65829 2.2915 2.29163 3.65817 2.29163 7.49984V12.4998C2.29163 16.3415 3.65829 17.7082 7.49996 17.7082H12.5C16.3416 17.7082 17.7083 16.3415 17.7083 12.4998V7.49984C17.7083 3.65817 16.3416 2.2915 12.5 2.2915H7.49996Z' fill='%23EB5757'/%3E%3C/svg%3E%0A");
      }
    }
  }
}