.login{
  &__dc5{
    color: #B6B6B6;
    @extend .fz-16;
    font-family: $SF-Compact-Rounded-Regular;
  }
  &__dc4{
    $x:48px;
    line-height: calc(#{$x} - 2px);
  }
  &__dc3{
    font-family: $SF-Compact-Rounded-Semibold;
  }
  &__dc2{
    line-height: 1.2;
  }
  &__dc1{
    line-height: 1.29;
    @extend .fz-14;
  }
  &__section{
    background-color: #e5e5e5;
    padding-top: 118px;
  }
  &__logo{
    $x:40px;
    left: #{$x};
    bottom: #{$x};
  }
  &__box1{
    max-width: 380px;
  }
  &__box2{
    max-width: 420px;
  }
  &__title{
    color: #2B2B2C;
    @extend .login__dc2;
    @extend .fz-40;
    @extend .login__dc3;
    margin: 0;
  }
  &__label{
    color: #4B4B4B;
    @extend .login__dc3;
    @extend .login__dc1;
  }
  &__input{
    $x:48px;
    height: #{$x};
    @extend .login__dc5;
    padding-left: 16px;
    padding-right: 16px;
    background: #F9F9F9;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    &:focus{
      border-color: #49CB34;
    }
  }
  &__checkbox{
    background-color: #FFFFFF;
    border: 1px solid #E2E2E2;
    box-sizing: border-box;
    border-radius: 4px;
    background-position: center;
    &:checked{
      background-color: #49CB34 !important;
    }
  }
  &__txt{
    color: #686868;
    @extend .login__dc1;
    a{
      color: #66DB53;
    }
  }
  &__forgot{
    @extend .login__txt;
  }
  &__btn{
    @extend .login__dc4;
    background: #2BBC13 !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-transform: inherit;
    position: relative;
    .signup__section &{
      background: #CE4431 !important;
    }
    .muagoihoc__card &{
      $x:42px;
      line-height: calc(#{$x} - 2px);
    }
    &:before{
      $x:4px;
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: calc(0px - #{$x});
      bottom: #{$x};
      background: #66DB53;
      border-radius: 500px;
      .signup__section &{
        background: #EC6755;
      }
    }
    span{
      @extend .fz-20;
      @extend .login__dc2;
      @extend .login__dc3;
      position: relative;
      top: -2px;
      .dangkythemlichhoc__modal &{
        @extend .fz-14;
      }
      .muagoihoc__card &{
        @extend .fz-14;
        color: #FFFFFF;
      }
      .dangkythemlichhoc__box4 &{
        @extend .fz-14;
        font-family: $SF-Compact-Rounded-Semibold;
      }
    }
  }
  &__column{
    &.uk-grid-margin{
      margin-top: 24px;
    }
  }
  &__item16{
    $x:16px;
    &:nth-child(n+2){
      margin-top: #{$x};
    }
  }
}