.bottom{
  &__box{
    background: rgba(102, 110, 140, 0.3);
    border-radius: 10px;
    padding: 10px;
    min-width: 318px;
    max-width: 318px;
    &__txt{
      color: #F4F4F4;
      line-height: 1.5;
      @extend .fz-16;
      font-family: $SF-Compact-Rounded-Medium;
    }
  }
  &__subtitle{
    margin-top: -15px;
    color: #FFFFFF;
    @extend .fz-13;
  }
  &__icon{
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    &--chat{
      background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_248_152132)'%3E%3Cpath d='M29.1872 25.6875C21.9501 25.6875 16 30.6642 16 36.7816C16 39.2269 16.9485 41.7121 18.6879 43.6383L16.2316 46.4453C15.9899 46.7218 15.9313 47.1145 16.0843 47.4496C16.2363 47.7846 16.5695 47.9998 16.9375 47.9998H30.1247C35.4681 47.9998 42.3744 43.3986 42.3744 36.7816C42.3744 30.6642 36.4243 25.6875 29.1872 25.6875ZM23.4998 38.5C22.4662 38.5 21.6249 37.6586 21.6249 36.6251C21.6249 35.5914 22.4663 34.7501 23.4998 34.7501C24.5334 34.7501 25.3748 35.5915 25.3748 36.6251C25.3748 37.6586 24.5334 38.5 23.4998 38.5ZM29.1872 38.5C28.1536 38.5 27.3123 37.6586 27.3123 36.6251C27.3123 35.5914 28.1536 34.7501 29.1872 34.7501C30.2208 34.7501 31.0621 35.5915 31.0621 36.6251C31.0621 37.6586 30.2208 38.5 29.1872 38.5ZM34.8746 38.5C33.8409 38.5 32.9996 37.6586 32.9996 36.6251C32.9996 35.5914 33.841 34.7501 34.8746 34.7501C35.9081 34.7501 36.7495 35.5915 36.7495 36.6251C36.7495 37.6586 35.9082 38.5 34.8746 38.5Z' fill='%23E9EFE9'/%3E%3Cpath d='M47.7731 35.0768L45.5659 32.5015C47.1415 30.7237 47.9993 28.5557 47.9993 26.3127C47.9993 20.6265 42.5319 16.0005 35.8121 16.0005C29.7356 16.0005 24.573 19.7873 23.6614 24.7161C25.3569 24.14 27.2584 23.8125 29.1873 23.8125C37.3969 23.8125 44.1417 29.5465 44.2403 36.625H47.0618C47.8626 36.625 48.2927 35.682 47.7731 35.0768Z' fill='%23ECEDEC'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_248_152132'%3E%3Crect width='32' height='32' fill='white' transform='translate(16 16)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      .uk-active> &{
        background-image: url("data:image/svg+xml,%3Csvg width='72' height='72' viewBox='0 0 72 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_248_153606)'%3E%3Cpath d='M32.484 28.1094C23.4377 28.1094 16 34.3302 16 41.977C16 45.0337 17.1856 48.1402 19.3599 50.5479L16.2896 54.0566C15.9874 54.4022 15.9142 54.8931 16.1053 55.312C16.2953 55.7308 16.7119 55.9998 17.1719 55.9998H33.6559C40.3352 55.9998 48.968 50.2482 48.968 41.977C48.968 34.3302 41.5303 28.1094 32.484 28.1094ZM25.3748 44.125C24.0828 44.125 23.0311 43.0733 23.0311 41.7813C23.0311 40.4893 24.0828 39.4377 25.3748 39.4377C26.6667 39.4377 27.7185 40.4894 27.7185 41.7813C27.7185 43.0733 26.6668 44.125 25.3748 44.125ZM32.484 44.125C31.192 44.125 30.1403 43.0733 30.1403 41.7813C30.1403 40.4893 31.1921 39.4377 32.484 39.4377C33.776 39.4377 34.8277 40.4894 34.8277 41.7813C34.8277 43.0733 33.776 44.125 32.484 44.125ZM39.5932 44.125C38.3012 44.125 37.2496 43.0733 37.2496 41.7813C37.2496 40.4893 38.3013 39.4377 39.5932 39.4377C40.8852 39.4377 41.9369 40.4894 41.9369 41.7813C41.9369 43.0733 40.8853 44.125 39.5932 44.125Z' fill='%2387F775'/%3E%3Cpath d='M55.7164 39.8459L52.9574 36.6268C54.9268 34.4045 55.9992 31.6945 55.9992 28.8908C55.9991 21.7831 49.1649 16.0005 40.7651 16.0005C33.1694 16.0005 26.7162 20.734 25.5768 26.895C27.6962 26.1749 30.0729 25.7655 32.4841 25.7655C42.7461 25.7655 51.1771 32.933 51.3003 41.7811H54.8273C55.8283 41.7812 56.3659 40.6024 55.7164 39.8459Z' fill='%23D1F8D0'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_248_153606'%3E%3Crect width='40' height='40' fill='white' transform='translate(16 16)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }
    &--help{
      background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.3746 26.7003L20.0419 21.3677C17.5365 24.184 16 27.9428 16 32C16 36.0573 17.5365 39.816 20.0419 42.6324L25.3746 37.2998C24.2198 35.8562 23.5 33.9884 23.5 32C23.5 30.0117 24.2198 28.1439 25.3746 26.7003Z' fill='%23E9EFE9'/%3E%3Cpath d='M43.9579 21.3677L38.6253 26.7003C39.7801 28.1439 40.4999 30.0117 40.4999 32C40.4999 33.9884 39.7801 35.8562 38.6253 37.2998L43.9579 42.6324C46.4633 39.816 47.9998 36.0573 47.9998 32C47.9998 27.9428 46.4633 24.184 43.9579 21.3677Z' fill='%23E9EFE9'/%3E%3Cpath d='M37.2997 38.6255C35.8561 39.7802 33.9882 40.5001 31.9999 40.5001C30.0116 40.5001 28.1437 39.7802 26.7002 38.6255L21.3676 43.9581C24.1839 46.4636 27.9427 48.0001 31.9999 48.0001C36.0572 48.0001 39.8159 46.4636 42.6323 43.9581L37.2997 38.6255Z' fill='%23E9EFE9'/%3E%3Cpath d='M31.9999 16C27.9427 16 24.1839 17.5365 21.3676 20.0419L26.7002 25.3746C28.1437 24.2198 30.0116 23.5 31.9999 23.5C33.9882 23.5 35.8561 24.2198 37.2997 25.3746L42.6323 20.0419C39.8159 17.5365 36.0572 16 31.9999 16Z' fill='%23E9EFE9'/%3E%3Cpath d='M42.375 16C41.765 16 41.177 16.1289 40.6105 16.3174C41.4704 16.7898 42.2794 17.3403 43.0459 17.9429C44.5755 18.2211 45.7789 19.4246 46.0572 20.9542C46.6598 21.7206 47.2103 22.5297 47.6827 23.3895C47.8711 22.8229 48 22.235 48 21.625C48 18.5232 45.4768 16 42.375 16Z' fill='%23ECEDEC'/%3E%3Cpath d='M47.6825 40.6104C47.2102 41.4702 46.6597 42.2792 46.057 43.0457C45.7789 44.5753 44.5754 45.7787 43.0457 46.057C42.2793 46.6596 41.4702 47.2101 40.6104 47.6825C41.177 47.8709 41.7649 47.9998 42.3749 47.9998C45.4767 47.9998 47.9999 45.4766 47.9999 42.3748C47.9999 41.7648 47.871 41.1769 47.6825 40.6104Z' fill='%23ECEDEC'/%3E%3Cpath d='M21.625 16C18.5232 16 16 18.5232 16 21.625C16 22.235 16.1289 22.8229 16.3174 23.3894C16.7897 22.5296 17.3402 21.7206 17.9429 20.9541C18.2211 19.4245 19.4246 18.2211 20.9542 17.9428C21.7206 17.3402 22.5297 16.7897 23.3895 16.3173C22.8229 16.1289 22.235 16 21.625 16Z' fill='%23ECEDEC'/%3E%3Cpath d='M20.9541 46.057C19.4245 45.7788 18.2211 44.5753 17.9428 43.0457C17.3402 42.2792 16.7897 41.4702 16.3173 40.6104C16.1289 41.1769 16 41.7649 16 42.3749C16 45.4767 18.5232 47.9999 21.625 47.9999C22.235 47.9999 22.8229 47.871 23.3894 47.6825C22.5296 47.21 21.7206 46.6596 20.9541 46.057Z' fill='%23ECEDEC'/%3E%3C/svg%3E%0A");
      .uk-active> &{
        background-image: url("data:image/svg+xml,%3Csvg width='72' height='72' viewBox='0 0 72 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.7182 29.3752L21.0524 22.7095C17.9206 26.2299 16 30.9284 16 35.9999C16 41.0715 17.9206 45.7699 21.0524 49.2904L27.7182 42.6246C26.2748 40.8202 25.375 38.4853 25.375 35.9999C25.375 33.5145 26.2748 31.1797 27.7182 29.3752Z' fill='%2387F675'/%3E%3Cpath d='M50.9475 22.7095L44.2817 29.3752C45.7252 31.1797 46.6249 33.5145 46.6249 35.9999C46.6249 38.4853 45.7252 40.8202 44.2817 42.6246L50.9475 49.2904C54.0793 45.7699 55.9999 41.0715 55.9999 35.9999C55.9999 30.9284 54.0793 26.2299 50.9475 22.7095Z' fill='%2387F675'/%3E%3Cpath d='M42.6246 44.2817C40.8202 45.7252 38.4853 46.6249 35.9999 46.6249C33.5145 46.6249 31.1797 45.7252 29.3753 44.2817L22.7095 50.9475C26.2299 54.0793 30.9284 55.9999 35.9999 55.9999C41.0715 55.9999 45.7699 54.0793 49.2904 50.9475L42.6246 44.2817Z' fill='%2387F675'/%3E%3Cpath d='M35.9999 16C30.9284 16 26.2299 17.9206 22.7095 21.0524L29.3753 27.7182C31.1797 26.2748 33.5145 25.375 35.9999 25.375C38.4853 25.375 40.8202 26.2748 42.6246 27.7182L49.2904 21.0524C45.7699 17.9206 41.0715 16 35.9999 16Z' fill='%2387F675'/%3E%3Cpath d='M48.9687 16C48.2062 16 47.4713 16.1611 46.7632 16.3967C47.838 16.9873 48.8493 17.6753 49.8073 18.4286C51.7194 18.7763 53.2237 20.2807 53.5715 22.1927C54.3248 23.1508 55.0129 24.1621 55.6034 25.2369C55.8389 24.5287 56 23.7937 56 23.0312C56 19.154 52.846 16 48.9687 16Z' fill='%23D1F8D0'/%3E%3Cpath d='M55.6031 46.7632C55.0126 47.8379 54.3246 48.8493 53.5712 49.8073C53.2235 51.7194 51.7191 53.2237 49.8071 53.5715C48.849 54.3247 47.8377 55.0129 46.7629 55.6033C47.4711 55.8389 48.2061 56 48.9686 56C52.8458 56 55.9998 52.846 55.9998 48.9687C55.9998 48.2062 55.8387 47.4713 55.6031 46.7632Z' fill='%23D1F8D0'/%3E%3Cpath d='M23.0312 16C19.154 16 16 19.154 16 23.0312C16 23.7937 16.1611 24.5287 16.3967 25.2368C16.9872 24.162 17.6752 23.1507 18.4286 22.1927C18.7763 20.2806 20.2807 18.7763 22.1927 18.4285C23.1508 17.6752 24.1621 16.9871 25.2369 16.3966C24.5287 16.1611 23.7937 16 23.0312 16Z' fill='%23D1F8D0'/%3E%3Cpath d='M22.1927 53.5715C20.2806 53.2237 18.7763 51.7194 18.4285 49.8073C17.6752 48.8493 16.9871 47.8379 16.3966 46.7632C16.1611 47.4714 16 48.2063 16 48.9688C16 52.8461 19.154 56.0001 23.0312 56.0001C23.7937 56.0001 24.5287 55.839 25.2368 55.6033C24.162 55.0128 23.1507 54.3247 22.1927 53.5715Z' fill='%23D1F8D0'/%3E%3C/svg%3E%0A");
      }
    }
    &--image{
      background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_248_152136)'%3E%3Cpath d='M24.3327 40.6673C22.1981 40.6673 20.2993 39.3006 19.6099 37.2659L19.5632 37.1126C19.4006 36.5737 19.3325 36.1206 19.3325 35.6672V26.5762L16.0978 37.3738C15.6818 38.962 16.6298 40.6085 18.2204 41.0472L38.8384 46.5689C39.0957 46.6355 39.353 46.6675 39.6065 46.6675C40.9344 46.6675 42.1478 45.7861 42.4879 44.4873L43.6891 40.6673H24.3327Z' fill='%23E9EFE9'/%3E%3Cpath d='M27.9995 26.6671C29.4703 26.6671 30.6661 25.4711 30.6661 24.0003C30.6661 22.5296 29.4703 21.3335 27.9995 21.3335C26.5288 21.3335 25.3327 22.5296 25.3327 24.0003C25.3327 25.4711 26.5288 26.6671 27.9995 26.6671Z' fill='%23ECEDEC'/%3E%3Cpath d='M44.6663 17.3335H24.6659C22.8287 17.3335 21.3326 18.8296 21.3326 20.6671V35.3339C21.3326 37.1714 22.8287 38.6675 24.6659 38.6675H44.6663C46.5038 38.6675 47.9999 37.1714 47.9999 35.3339V20.6671C47.9999 18.8296 46.5038 17.3335 44.6663 17.3335ZM24.6659 20.0003H44.6663C45.0345 20.0003 45.3331 20.2989 45.3331 20.6671V30.1326L41.1211 25.2177C40.6743 24.6938 40.0276 24.4137 39.333 24.3979C38.6423 24.4018 37.9943 24.7084 37.5517 25.2392L32.5994 31.1832L30.9861 29.5738C30.0742 28.6619 28.59 28.6619 27.6794 29.5738L23.9994 33.2526V20.6671C23.9994 20.2989 24.298 20.0003 24.6659 20.0003Z' fill='%23ECEDEC'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_248_152136'%3E%3Crect width='32' height='32' fill='white' transform='translate(16 16)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      .uk-active> &{
        background-image: url("data:image/svg+xml,%3Csvg width='72' height='72' viewBox='0 0 72 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_248_154540)'%3E%3Cpath d='M26.4159 46.8342C23.7477 46.8342 21.3743 45.1258 20.5124 42.5824L20.4541 42.3907C20.2509 41.7172 20.1657 41.1507 20.1657 40.584V29.2202L16.1224 42.7173C15.6023 44.7025 16.7874 46.7606 18.7756 47.309L44.548 54.2111C44.8697 54.2944 45.1914 54.3344 45.5082 54.3344C47.168 54.3344 48.6848 53.2327 49.1099 51.6091L50.6114 46.8342H26.4159Z' fill='%23D1F8D0'/%3E%3Cpath d='M30.9995 29.3335C32.8379 29.3335 34.3327 27.8385 34.3327 26C34.3327 24.1616 32.8379 22.6665 30.9995 22.6665C29.1611 22.6665 27.666 24.1616 27.666 26C27.666 27.8385 29.1611 29.3335 30.9995 29.3335Z' fill='%2387F675'/%3E%3Cpath d='M51.833 17.6665H26.8324C24.5359 17.6665 22.6658 19.5367 22.6658 21.8335V40.1671C22.6658 42.4639 24.5359 44.334 26.8324 44.334H51.833C54.1298 44.334 56 42.4639 56 40.1671V21.8335C56 19.5367 54.1298 17.6665 51.833 17.6665ZM26.8324 21H51.833C52.2932 21 52.6665 21.3733 52.6665 21.8335V33.6654L47.4014 27.5218C46.843 26.8669 46.0345 26.5168 45.1663 26.497C44.3029 26.5019 43.493 26.8852 42.9397 27.5486L36.7493 34.9786L34.7327 32.9669C33.5928 31.827 31.7376 31.827 30.5993 32.9669L25.9993 37.5654V21.8335C25.9993 21.3733 26.3725 21 26.8324 21Z' fill='%2387F675'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_248_154540'%3E%3Crect width='40' height='40' fill='white' transform='translate(16 16)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }
  }
  &__offcanvas{
    $x:28px;
    $w:430px;
    &__close{
      opacity: 0;
      transition: all .3s ease-out;
      width: 36px;
      height: 39px;
      background-image: url("data:image/svg+xml,%3Csvg width='44' height='44' viewBox='0 0 44 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='22' cy='23' r='18' fill='%23CE4431'/%3E%3Cg filter='url(%23filter0_d_1294_42928)'%3E%3Ccircle cx='22' cy='20' r='18' fill='%23EC6755'/%3E%3C/g%3E%3Cpath d='M15.6856 16.2926L19.504 20.1109L15.8472 23.7677C14.9861 24.6288 14.948 25.676 15.7163 26.4442C16.4845 27.2125 17.5317 27.1744 18.3928 26.3133L22.0496 22.6565L25.7074 26.3144C26.5216 27.1285 27.6031 27.1248 28.3934 26.3345C29.1956 25.5323 29.1875 24.4626 28.3733 23.6485L24.7155 19.9906L28.3251 16.381C29.1744 15.5317 29.201 14.4731 28.4442 13.7163C27.6759 12.948 26.6288 12.9861 25.7795 13.8354L22.1699 17.445L18.3515 13.6267C17.5259 12.8011 16.4558 12.8162 15.6655 13.6065C14.8752 14.3969 14.86 15.467 15.6856 16.2926Z' fill='white'/%3E%3Cdefs%3E%3Cfilter id='filter0_d_1294_42928' x='0' y='0' width='44' height='44' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='2'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_1294_42928'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_1294_42928' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      top: #{$x};
      right: calc(#{$w} + 12px);
      svg{
        opacity: 0;
      }
      .uk-open &{
        opacity: 1;
      }
    }
    &__item{
      &:nth-child(n+2){
        border-top: 2px solid #F7F7F7;
      }
    }
    &__title{
      color: #2B2B2C !important;
      margin: 0;
      line-height: 1.33;
      @extend .fz-24;
      font-family: $SF-Compact-Rounded-Semibold;
    }
    &__header{
      padding-top: 24px;
      padding-bottom: 20px;
    }
    &__body{
      padding: 24px 0;
    }
    &__footer{
      padding: 20px 0;
    }
    &__image{
      &__radio{

      }
      &__txt{
        background: rgba(255, 255, 255, 0.9);
        border-radius: 8px;
        display: inline-block;
        top: 8px;
        right: 8px;
        padding: 6px 12px;
        color: #4B4B4B;
        line-height: 1.33;
        @extend .fz-12;
        font-family: $SF-Compact-Rounded-Semibold;
        padding-left: 36px;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8.20117' r='8' fill='%2366DB53'/%3E%3Cpath d='M5 8.31882L7.08696 10.2012L11 6.20117' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-position: center left 12px;
        background-repeat: no-repeat;
        opacity: 0;
        .bottom__offcanvas__image__radio:checked ~ &{
          opacity: 1;
        }
      }
      &__box1{
        border-radius: 12px;
        cursor: pointer;
      }
    }
    &__help{
      &__box1{
        padding: 10px 12px;
        background: #F7F7F7;
        border-radius: 10px;
        color: #2B2B2C;
        line-height: 1.5;
        @extend .fz-16;
        font-family: $SF-Compact-Rounded-Medium;
      }
      &__txt{
        padding-left: 12px;
        padding-right: 12px;
        color: #686868;
        line-height: 1.43;
        @extend .fz-14;
      }
      &__btnSelect{
        font-family: $SF-Compact-Rounded-Medium;
        text-transform: inherit;
        position: relative;
        background: #F7F7F7 !important;
        border: 1px solid #F2F2F2 !important;
        box-sizing: border-box;
        border-radius: 10px;
        color: #4B4B4B !important;
        @extend .fz-16;
        text-align: left;
        padding-left: 12px;
        $x1:44px;
        line-height: calc(#{$x1} - 2px);
        .uk-icon{
          right: 8px;
          svg{

          }
        }
      }
    }
    &__chat{
      &__name{
        font-family: $SF-Compact-Rounded-Semibold;
        font-weight: bold;
      }
      &__content{
        max-width: 83%;
        text-align: left;
        padding: 10px;
        >*{
          line-height: 1.5;
          @extend .fz-16;
          font-family: $SF-Compact-Rounded-Medium;
        }
        &--left{
          background: #F7F7F7;
          border-radius: 10px 10px 10px 0px;
          color: #2B2B2C;
        }
        &--right{
          background: #66DB53;
          border-radius: 10px 10px 0px 10px;
          color: #FFFFFF;
        }
      }
    }
    &__input{
      background-color: #F7F7F7 !important;
      border: 1px solid #F2F2F2 !important;
      box-sizing: border-box;
      border-radius: 10px;
      color: #2B2B2C !important;
      @extend .fz-16;
      height: 48px;
      &::placeholder{
        color: #B6B6B6 !important;
      }
      &:focus{
        background-color: #fff !important;
        border-color: #1e87f0 !important;
        color: #666666 !important;
        &::placeholder{
          color: #666666 !important;
        }
      }
    }
    &__btnSend{
      width: 40px;
      height: 40px;
      background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.1167 14.1836L15.8501 7.05022C6.26674 2.25022 2.33341 6.18356 7.13341 15.7669L8.58341 18.6669C9.00007 19.5169 9.00007 20.5002 8.58341 21.3502L7.13341 24.2336C2.33341 33.8169 6.25007 37.7502 15.8501 32.9502L30.1167 25.8169C36.5167 22.6169 36.5167 17.3836 30.1167 14.1836ZM24.7334 21.2502H15.7334C15.0501 21.2502 14.4834 20.6836 14.4834 20.0002C14.4834 19.3169 15.0501 18.7502 15.7334 18.7502H24.7334C25.4167 18.7502 25.9834 19.3169 25.9834 20.0002C25.9834 20.6836 25.4167 21.2502 24.7334 21.2502Z' fill='%2366DB53'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      box-sizing: border-box;
      padding: 0;
    }
    &__bar{
      padding: 0 24px;
      top: #{$x};
      bottom: #{$x};
      background: #FFFFFF;
      box-shadow: 0px 12px 48px rgba(22, 22, 22, 0.12);
      border-radius: 20px 0px 0px 20px;
      .uk-offcanvas-flip &{

      }
      #offcanvas-flip-faq &{
        padding: 24px;
      }
      @include media-breakpoint-up('m'){
        width: #{$w};
        .uk-offcanvas-flip &{
          right: calc(0px - #{$w});
        }
      }
    }
  }
}