.uk{
  &-modal{
    background: rgba(18, 17, 17, 0.5);
    &-dialog{
      &-m688{
        width: 688px;
      }
      &-m400{
        width: 400px;
      }
      &-m320{
        width: 320px;
      }
      &-m312{
        width: 312px;
      }
      &-m708{
        width: 708px;
      }
      &-m808{
        width: 808px;
      }
      &-m548{
        width: 548px;
      }
      &-m{
        width: 800px;
      }
      &-s{
        width: 500px;
      }
    }
  }
}
.modal{
  &__xacnhandiadiem{
    &__label{
      color: #4B4B4B;
      line-height: 1.25;
      @extend .fz-16;
      font-family: $SF-Compact-Rounded-Semibold;
    }
    &__textarea{
      background: #F9F9F9;
      border: 1px solid #EAEAEA;
      box-sizing: border-box;
      border-radius: 16px;
      @extend .fz-16;
      &::placeholder{
        color: #B6B6B6;
      }
    }
  }
  &__quatang{
    &__title{
      color: #2B2B2C;
      line-height: 1.4;
      @extend .fz-20;
      font-family: $SF-Compact-Rounded-Medium;
    }
    &__wishlist{
      width: 28px;
      height: 28px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.1799 3.61621C17.0683 3.61621 15.1783 4.64288 13.9999 6.21788C12.8216 4.64288 10.9316 3.61621 8.81992 3.61621C5.23825 3.61621 2.33325 6.53288 2.33325 10.1379C2.33325 11.5262 2.55492 12.8095 2.93992 13.9995C4.78325 19.8329 10.4649 23.3212 13.2766 24.2779C13.6733 24.4179 14.3266 24.4179 14.7233 24.2779C17.5349 23.3212 23.2166 19.8329 25.0599 13.9995C25.4449 12.8095 25.6666 11.5262 25.6666 10.1379C25.6666 6.53288 22.7616 3.61621 19.1799 3.61621Z' fill='%23EB5757'/%3E%3C/svg%3E%0A");
    }
    &__rate{
      padding-left: 36px;
      background-repeat: no-repeat;
      background-position: center left;
      background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.1001 9.0998L13.3001 2.7998H14.7001L18.9001 9.0998L25.9001 11.1998L21.0001 17.4998L21.7001 25.1998L14.0001 23.0998L6.3001 25.1998L7.0001 18.1998L2.1001 11.1998L9.1001 9.0998Z' fill='%23FFCD1A'/%3E%3Cpath d='M20.6034 26.4484C19.9851 26.4484 19.1917 26.25 18.2001 25.6667L14.7117 23.6017C14.3501 23.3917 13.6501 23.3917 13.3001 23.6017L9.80006 25.6667C7.73506 26.8917 6.52172 26.4017 5.97339 26.005C5.43672 25.6084 4.59672 24.5934 5.14506 22.26L5.97339 18.6784C6.06672 18.305 5.88006 17.6634 5.60006 17.3834L2.70672 14.49C1.26006 13.0434 1.37672 11.8067 1.57506 11.2C1.77339 10.5934 2.40339 9.52004 4.41006 9.18171L8.13172 8.56337C8.48172 8.50504 8.98339 8.13171 9.13506 7.81671L11.2001 3.69837C12.1334 1.82004 13.3584 1.54004 14.0001 1.54004C14.6417 1.54004 15.8667 1.82004 16.8001 3.69837L18.8534 7.80504C19.0167 8.12004 19.5184 8.49337 19.8684 8.55171L23.5901 9.17004C25.6084 9.50837 26.2384 10.5817 26.4251 11.1884C26.6117 11.795 26.7284 13.0317 25.2934 14.4784L22.4001 17.3834C22.1201 17.6634 21.9451 18.2934 22.0267 18.6784L22.8551 22.26C23.3917 24.5934 22.5634 25.6084 22.0267 26.005C21.7351 26.215 21.2684 26.4484 20.6034 26.4484ZM14.0001 21.6884C14.5717 21.6884 15.1434 21.8284 15.5984 22.0967L19.0867 24.1617C20.1017 24.7684 20.7434 24.7684 20.9884 24.5934C21.2334 24.4184 21.4084 23.8 21.1517 22.6567L20.3234 19.075C20.1017 18.1067 20.4634 16.8584 21.1634 16.1467L24.0567 13.2534C24.6284 12.6817 24.8851 12.1217 24.7684 11.7367C24.6401 11.3517 24.1034 11.0367 23.3101 10.9084L19.5884 10.29C18.6901 10.1384 17.7101 9.41504 17.3017 8.59837L15.2484 4.49171C14.8751 3.74504 14.4084 3.30171 14.0001 3.30171C13.5917 3.30171 13.1251 3.74504 12.7634 4.49171L10.6984 8.59837C10.2901 9.41504 9.31006 10.1384 8.41172 10.29L4.70172 10.9084C3.90839 11.0367 3.37172 11.3517 3.24339 11.7367C3.11506 12.1217 3.38339 12.6934 3.95506 13.2534L6.84839 16.1467C7.54839 16.8467 7.91006 18.1067 7.68839 19.075L6.86006 22.6567C6.59172 23.8117 6.77839 24.4184 7.02339 24.5934C7.26839 24.7684 7.89839 24.7567 8.92506 24.1617L12.4134 22.0967C12.8567 21.8284 13.4284 21.6884 14.0001 21.6884Z' fill='%23FFCD1A'/%3E%3C/svg%3E%0A");
      span{
        color: #2B2B2C;
        line-height: 1.4;
        @extend .fz-20;
        font-family: $SF-Compact-Rounded-Medium;
      }
    }
    &__label{
      color: #2B2B2C;
      line-height: 1.29;
      @extend .fz-14;
      font-family: $SF-Compact-Rounded-Semibold;
    }
    &__desc{
      color: #2B2B2C;
      line-height: 1.5;
      @extend .fz-16;
    }
  }
  &__tailenduan{
    &__nav{
      padding: 0;
      width: 82px;
      height: 107px;
      background-repeat: no-repeat;
      background-position: center;
      svg{
        opacity: 0;
      }
      $x:50px;
      $y:21px;
      &--left{
        background-image: url("data:image/svg+xml,%3Csvg width='126' height='171' viewBox='0 0 126 171' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_385_310365)'%3E%3Cg filter='url(%23filter1_b_385_310365)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M47.1053 130.2L44 139L44 32L47.6594 43.6153C50.7319 53.3676 59.7752 60 70 60L70 60.0182C70.3318 60.0061 70.6652 60 71 60C85.9117 60 98 72.0883 98 87C98 101.912 85.9117 114 71 114C70.6652 114 70.3318 113.994 70 113.982L70 114C59.7058 114 50.5307 120.492 47.1053 130.2Z' fill='white' fill-opacity='0.1'/%3E%3C/g%3E%3Ccircle cx='71' cy='89' r='20' transform='rotate(-180 71 89)' fill='%232BBC13'/%3E%3Cg filter='url(%23filter2_d_385_310365)'%3E%3Ccircle cx='71' cy='86' r='20' transform='rotate(-180 71 86)' fill='%2366DB53'/%3E%3C/g%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M70.4142 80.4142C71.1953 79.6332 71.1953 78.3668 70.4142 77.5858C69.6332 76.8047 68.3668 76.8047 67.5858 77.5858L60.5858 84.5858C59.8047 85.3668 59.8047 86.6332 60.5858 87.4142L67.5858 94.4142C68.3668 95.1953 69.6332 95.1953 70.4142 94.4142C71.1953 93.6332 71.1953 92.3668 70.4142 91.5858L66.8205 87.9921C66.8796 87.9973 66.9395 88 67 88L81 88C82.1046 88 83 87.1046 83 86C83 84.8954 82.1046 84 81 84L67 84C66.9395 84 66.8796 84.0027 66.8205 84.0079L70.4142 80.4142ZM65.0079 85.8205L64.8284 86L65.0079 86.1795C65.0027 86.1204 65 86.0605 65 86C65 85.9395 65.0027 85.8796 65.0079 85.8205Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_385_310365' x='0' y='0' width='146' height='171' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='-12'/%3E%3CfeGaussianBlur stdDeviation='16'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_385_310365'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_385_310365' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter1_b_385_310365' x='-56' y='-68' width='254' height='307' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImage' stdDeviation='50'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_385_310365'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_385_310365' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter2_d_385_310365' x='47' y='64' width='48' height='48' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='2'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_385_310365'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_385_310365' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
        right: calc(100% - #{$x});
      }
      &--right{
        left: calc(100% - #{$x} - #{$y});
        background-image: url("data:image/svg+xml,%3Csvg width='118' height='171' viewBox='0 0 118 171' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_385_310375)'%3E%3Cg filter='url(%23filter1_b_385_310375)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M94.8947 40.8004L98 32V84V139L94.3406 127.385C91.2681 117.632 82.2248 111 72 111V110.982C71.6682 110.994 71.3348 111 71 111C56.0883 111 44 98.9117 44 84C44 69.0883 56.0883 57 71 57C71.3348 57 71.6682 57.0061 72 57.0182V57C82.2942 57 91.4693 50.5079 94.8947 40.8004Z' fill='white' fill-opacity='0.1'/%3E%3C/g%3E%3Ccircle cx='71' cy='85' r='20' fill='%232BBC13'/%3E%3Cg filter='url(%23filter2_d_385_310375)'%3E%3Ccircle cx='71' cy='83' r='20' fill='%2366DB53'/%3E%3C/g%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M71.5858 88.5858C70.8047 89.3668 70.8047 90.6332 71.5858 91.4142C72.3668 92.1953 73.6332 92.1953 74.4142 91.4142L81.4142 84.4142C82.1953 83.6332 82.1953 82.3668 81.4142 81.5858L74.4142 74.5858C73.6332 73.8047 72.3668 73.8047 71.5858 74.5858C70.8047 75.3668 70.8047 76.6332 71.5858 77.4142L75.1795 81.0079C75.1204 81.0027 75.0605 81 75 81L61 81C59.8954 81 59 81.8954 59 83C59 84.1046 59.8954 85 61 85L75 85C75.0605 85 75.1204 84.9973 75.1795 84.9921L71.5858 88.5858ZM76.9921 83.1795L77.1716 83L76.9921 82.8205C76.9973 82.8796 77 82.9395 77 83C77 83.0605 76.9973 83.1204 76.9921 83.1795Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_385_310375' x='-28' y='0' width='146' height='171' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='-12'/%3E%3CfeGaussianBlur stdDeviation='16'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_385_310375'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_385_310375' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter1_b_385_310375' x='-56' y='-68' width='254' height='307' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImage' stdDeviation='50'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_385_310375'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_385_310375' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter2_d_385_310375' x='47' y='61' width='48' height='48' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='2'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_385_310375'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_385_310375' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }
  }
  &__ketquadanhgia{
    &__label{
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0 25px;
      background: #66DB53;
      min-height: 36px;
      span{
        color: #F4F4F4;
        line-height: 1.2;
        @extend .fz-20;
        font-family: $SF-Compact-Rounded-Medium;
      }
    }
    &__accordion{
      &__li{
        background: #F7F7F7;
        border-radius: 8px;
        padding: 12px 16px;
      }
      &__title{
        span{
          color: #2B2B2C;
          line-height: 1.2;
          @extend .fz-20;
          font-family: $SF-Compact-Rounded-Medium;
        }
        &:before{
          background-image: url("data:image/svg+xml,%3Csvg width='10' height='14' viewBox='0 0 10 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.23201 6.06422C9.6854 6.6046 9.68541 7.39545 9.23195 7.93577C6.91949 10.6912 5.56641 11.6571 2.47726 13.158C1.58682 13.5906 0.531937 13.037 0.393571 12.0568C-0.131348 8.33799 -0.131189 5.65931 0.394046 1.93988C0.532324 0.960677 1.58536 0.406873 2.4753 0.838114C5.56293 2.33429 6.91879 3.30716 9.23201 6.06422Z' fill='%23878787'/%3E%3C/svg%3E%0A");
          .uk-open> &{
            background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.93578 9.23201C7.3954 9.6854 6.60455 9.68541 6.06423 9.23195C3.30882 6.91949 2.34289 5.56641 0.842031 2.47726C0.409414 1.58682 0.962984 0.531936 1.94323 0.39357C5.66201 -0.131348 8.34069 -0.13119 12.0601 0.394046C13.0393 0.532324 13.5931 1.58536 13.1619 2.4753C11.6657 5.56293 10.6928 6.91879 7.93578 9.23201Z' fill='%23878787'/%3E%3C/svg%3E%0A");
          }
        }
      }
      &__content{
        color: #2B2B2C;
        line-height: 1.5;
        @extend .fz-16;
      }
    }
  }
  &__list{
    li{
      @extend .modal__txt1;
    }
  }
  &__txt1{
    color: #2B2B2C;
    line-height: 1.5;
    @extend .fz-16;
    font-family: $SF-Compact-Rounded-Medium;
    span{
      font-family: $SF-Compact-Rounded-Semibold;
    }
  }
  &__desc{
    color: #4B4B4B;
    line-height: 1.5;
    @extend .fz-16;
    font-family: $SF-Compact-Rounded-Medium;
  }
  &__box3{
    background: #F9F9F9;
    border-radius: 10px;
    padding: 12px;
    &__step{
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: #F7F7F7;
      border: 2px solid #B6B6B6;
      box-sizing: border-box;
      color: #B6B6B6;
      @extend .fz-16;
      font-family: $SF-Compact-Rounded-Semibold;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-position: center;
      .active &{
        background-color: #FFFFFF;
        border-color: #66DB53;
        color: #66DB53;
      }
      .finish &{
        >*{
          color: transparent;
        }
        border-color: #66DB53;
        background-color: #66DB53;
        color: #66DB53;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 6.23529L6.17391 10L14 2' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
      .fail &{
        >*{
          color: transparent;
        }
        border-color: #EB5757;
        background-color: #EB5757;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L12 12' stroke='%23F2F2F2' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 2L2 12' stroke='%23F2F2F2' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
    }
    &__txt{
      color: #4B4B4B;
      line-height: 1.5;
      @extend .fz-16;
      font-family: $SF-Compact-Rounded-Semibold;
      white-space: nowrap;
    }
    &__txt1{
      line-height: 1.25;
      @extend .fz-16;
      font-family: $SF-Compact-Rounded-Medium;
      color: #2B2B2C;
      span{
        font-family: $SF-Compact-Rounded-Semibold;
      }
    }
  }
  &__box1{
    padding: 24px;
  }
  &__back{
    position: absolute;
    padding: 0;
    top: 36px;
    left: -89px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 36px;
    height: 39px;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='42' viewBox='0 0 40 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='18' cy='21' r='18' fill='%23F3B004'/%3E%3Cg filter='url(%23filter0_d_2416_59695)'%3E%3Ccircle cx='18' cy='18' r='18' fill='%23FFCB14'/%3E%3C/g%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.4142 12.4142C17.1953 11.6332 17.1953 10.3668 16.4142 9.58579C15.6332 8.80474 14.3668 8.80474 13.5858 9.58579L6.58579 16.5858C5.80474 17.3668 5.80474 18.6332 6.58579 19.4142L13.5858 26.4142C14.3668 27.1953 15.6332 27.1953 16.4142 26.4142C17.1953 25.6332 17.1953 24.3668 16.4142 23.5858L12.8205 19.9921C12.8796 19.9973 12.9395 20 13 20H27C28.1046 20 29 19.1046 29 18C29 16.8954 28.1046 16 27 16H13C12.9395 16 12.8796 16.0027 12.8205 16.0079L16.4142 12.4142ZM11.0079 17.8205L10.8284 18L11.0079 18.1795C11.0027 18.1204 11 18.0605 11 18C11 17.9395 11.0027 17.8796 11.0079 17.8205Z' fill='white'/%3E%3Cdefs%3E%3Cfilter id='filter0_d_2416_59695' x='-4' y='-2' width='44' height='44' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='2'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_2416_59695'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_2416_59695' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    transform: translate(100%,-100%);
  }
  &__box2{
    padding: 0 16px;
    padding-bottom: 16px;
    &__radio{

    }
    &__card{
      padding: 16px;
      cursor: pointer;
      background-color: #F9F9F9;
      border-radius: 14px;
      background-repeat: no-repeat;
      $x:10px;
      background-position: top #{$x} right #{$x};
      .modal__box2__radio:checked ~ &{
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='10' fill='%2366DB53'/%3E%3Cpath d='M7 10.1176L9.08696 12L13 8' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
    }
  }
  &__item18{
    &:nth-child(n+2){
      margin-top: 18px;
    }
  }
  &__item9{
    &:nth-child(n+2){
      margin-top: 9px;
    }
  }
  &__item35{
    &:nth-child(n+2){
      margin-top: 35px;
    }
  }
  &__boxProfile{
    padding: 10px 16px;
    background: #F9F9F9;
    border-radius: 14px;
    &__box1{
      min-width: 200px;
      min-height: 10px;
      .modal__box2__card &{
        min-width: 100px;
        min-height: 6px;
      }
    }
    &__box2{
      background: #63EA51;
    }
    &__progress{
      background: rgba(225, 225, 225, 0.3);
      /* Green */

      border: 1px solid #63EA51;
      padding: 2px;
      .modal__box2__card &{
        padding: 1px;
      }
    }
    &__iconFlah{
      width: 20px;
      height: 20px;
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.87572 1.7654L7.61907 1.26984L6.66669 9.5238L12.2222 8.73015L8.7308 17.9114C8.63543 18.1621 8.25978 18.0605 8.30389 17.7958L9.49397 10.6553C9.50847 10.5683 9.43202 10.4934 9.34531 10.5097L4.92268 11.3389C4.69738 11.3811 4.50293 11.178 4.55502 10.9547L6.6096 2.14941C6.64627 1.99224 6.74143 1.85493 6.87572 1.7654Z' fill='%23F3B004'/%3E%3Cpath d='M13.2955 0.128118L7.70731 1.19254C7.46065 1.23953 7.26485 1.42746 7.2078 1.67198L5.18997 10.3198C5.13789 10.543 5.33233 10.7462 5.55763 10.704L10.1588 9.84124L8.36893 18.0234C8.29156 18.3771 8.77153 18.5638 8.9535 18.2508L15.5374 6.92646C15.6719 6.69525 15.4777 6.41161 15.2135 6.45333L10.1011 7.26055C9.99611 7.27712 9.91843 7.16514 9.97071 7.07264L13.6313 0.59618C13.7643 0.360836 13.5611 0.0775346 13.2955 0.128118Z' fill='%23FFCD1A'/%3E%3C/svg%3E%0A");
      .modal__box2__card &{
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.50059 1.41226L6.09526 1.01581L5.33336 7.61898L9.77781 6.98406L6.98465 14.329C6.90836 14.5297 6.60783 14.4483 6.64312 14.2366L7.59519 8.52421C7.60679 8.4546 7.54562 8.39466 7.47626 8.40767L3.93816 9.07106C3.75791 9.10486 3.60236 8.94232 3.64403 8.76373L5.28769 1.71947C5.31703 1.59373 5.39315 1.48388 5.50059 1.41226Z' fill='%23F3B004'/%3E%3Cpath d='M10.6365 0.102457L6.16595 0.953999C5.96863 0.991584 5.81199 1.14193 5.76635 1.33755L4.15209 8.2558C4.11042 8.43439 4.26597 8.59693 4.44621 8.56313L8.12713 7.87296L6.69525 14.4187C6.63335 14.7017 7.01733 14.851 7.16291 14.6006L12.4301 5.54113C12.5376 5.35617 12.3822 5.12925 12.1709 5.16262L8.08096 5.8084C7.99699 5.82166 7.93485 5.73208 7.97668 5.65807L10.9052 0.476907C11.0116 0.288632 10.849 0.0619911 10.6365 0.102457Z' fill='%23FFCD1A'/%3E%3C/svg%3E%0A");
      }
    }
    &__txt{
      color: #2B2B2C;
      line-height: 1.11;
      @extend .fz-18;
      font-family: $SF-Compact-Rounded-Medium;
      .modal__box2__card &{
        @extend .fz-16;
      }
    }
    &__name{
      color: #000000;
      line-height: 1.33;
      @extend .fz-24;
      font-family: $SF-Compact-Rounded-Semibold;
    }
  }
  &__btnBox{
    padding: 32px;
    padding-top: 0;
  }
  &__box16{
    padding: 16px;
    padding-bottom: 0;
  }
  &__gridUser{
    width: max-content;
    &__column{
      &.uk-first-column{
        margin-left: 32px;
      }
      &:last-child{
        margin-right: 32px;
      }
    }
    &__radio{

    }
    &__boxAvarta{
      overflow: hidden;
      .modal__gridUser__radio:checked ~ &{
        .modal__gridUser__boxAvarta__bg{
          opacity: 1;
        }
      }
      &__bg{
        opacity: 0;
        background-color: rgba(4, 21, 7, 0.6);
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='19' viewBox='0 0 24 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 9.88235L9.26087 16L21 3' stroke='%23FFCC19' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
    }
  }
  &__btnChange{
    &--c1{
      min-width: 112px;
      text-align: center;
    }
    &--c2{
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      min-width: 128px;
    }
    padding: 0 24px;
    text-transform: inherit;
    background: #F4F4F4;
    /* Black 600 */

    border: 1px solid #F4F4F4;
    box-sizing: border-box;
    $x:48px;
    line-height: calc(#{$x} - 2px);
    &--c3{
      background: #66DB53;
      border-color: #66DB53;
    }
    &__txt{
      color: #2B2B2C;
      line-height: 1.2;
      @extend .fz-20;
      font-family: $SF-Compact-Rounded-Semibold;
      .logout> &{
        color: #EB5757;
      }
      .modal__box2__card &{
        color: #000;
      }
      .modal__btnChange--c3 &{
        color: #FFFFFF;
      }
      .modal__btnChange--c3:hover &{
        color: #000 !important;
      }
    }
    span{

    }
  }
  &__item32{
    &:nth-child(n+2){
      margin-top: 32px;
    }
  }
  &__body{
    padding: 0px;
    border-radius: 20px;
  }
  &__body1{
    @extend .modal__body;
    padding: 24px;
  }
  &__close{
    width: 36px;
    height: 39px;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='42' viewBox='0 0 40 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='22' cy='21' r='18' fill='%23CE4431'/%3E%3Cg filter='url(%23filter0_d_2403_31678)'%3E%3Ccircle cx='22' cy='18' r='18' fill='%23EC6755'/%3E%3C/g%3E%3Cpath d='M15.6856 14.2926L19.504 18.1109L15.8472 21.7677C14.9861 22.6288 14.948 23.676 15.7163 24.4442C16.4845 25.2125 17.5317 25.1744 18.3928 24.3133L22.0496 20.6565L25.7074 24.3144C26.5216 25.1285 27.6031 25.1248 28.3934 24.3345C29.1956 23.5323 29.1875 22.4626 28.3733 21.6485L24.7155 17.9906L28.3251 14.381C29.1744 13.5317 29.201 12.4731 28.4442 11.7163C27.6759 10.948 26.6288 10.9861 25.7795 11.8354L22.1699 15.445L18.3515 11.6267C17.5259 10.8011 16.4558 10.8162 15.6655 11.6065C14.8752 12.3969 14.86 13.467 15.6856 14.2926Z' fill='white'/%3E%3Cdefs%3E%3Cfilter id='filter0_d_2403_31678' x='0' y='-2' width='44' height='44' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='2'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_2403_31678'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_2403_31678' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 39px;
    right: -16px;
    transform: translate(100%,-100%);
    svg{
      opacity: 0;
    }
  }
}